h1{
    color:#21d9ff;
    text-align: center;
    position: relative;bottom:80%;
    font-family: myFirstFont;
    font-size: 100PX;
    animation: shake 7s;
    animation-iteration-count: infinite;
    letter-spacing: 15px;
}

@font-face {
    font-family: myFirstFont;
    src: url(ananda-neptouch-2.regular.ttf);
 }
body{
    background-image: url("Olympics.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    opacity: 0;
    transition: 1.5s;
    
}
.Menu{
    font-family: myFirstFont;
    width:100%;
    position: absolute;top:50%;

}

.Menuitems{
    padding-right:70px;    
    position: relative;left:33%;
    color:white;
    text-decoration: none;
    letter-spacing: 5px;
    
}

.Title{
    width:100%;
    position: absolute;top:20%;
}

  
  @keyframes shake {
    50% {opacity: 0;}
  }

  iframe{
    margin: 10px;
    position: absolute;left:18%;
  }

  .Menu_2{
    font-family: myFirstFont;
    width:100%;
    padding-top: 20px;
  }
.email{
  text-decoration: none;
  color:white;
  font-family: myFirstFont;
  font-size: 50px;
}
.emailContainer{
  width:100%; 
  position: absolute;top:150px;left:30%;
}

